<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>CSE CHAT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
   
<script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCKM0hqPNpIvwxSqyFE46G73t6VBXMDje8",
    authDomain: "csechatagu.firebaseapp.com",
    databaseURL: "https://csechatagu.firebaseio.com",
    projectId: "csechatagu",
    storageBucket: "csechatagu.appspot.com",
    messagingSenderId: "10079910491"
  };
  firebase.initializeApp(config);
</script>
    
    <script src="app.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	.panel-primary>.panel-heading {
    color: #fff;
    background-color: #de3131;
    border-color: #337ab7;
	</style>
</head>
<body ng-controller="ChatController">
    <br>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">TO DO LIST</div>
            <div class="panel-body">
                <p ng-repeat="m in messages">{{m.message}} - {{m.date | date:'medium'}}</p>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Message here..." ng-model="messageText">
                </div>
                <button type="submit" class="btn btn-default" ng-click="send()">Send</button>
            </div>
        </div>
    </div>

</body>
</html>